<div class="answerBox clearfix z-depth-1 hoverable">
  <div class="dropdown">
    <button class="mybtn dropdown-toggle pull-right" type="button" data-toggle="dropdown">
    <i class="small material-icons">more_vert</i></button>
    <ul class="dropdown-menu pull-right">
      <li {{action 'delete' answer}} ><a>Delete <i class="material-icons">delete</i></a></li>
    </ul>
  </div>
    <h3>{{answer.name}}</h3>
    <p class="timestamp">{{answer.timestamp}}</p>
    <p>{{answer.content}}</p>
    <div class="row valign-wrapper">
      <div class="col s6 clear valign">
        <h4 class="category left valign">{{answer.score}}{{answer-icon answer.score}}</h4>
      </div>
      <div class="col s6 valign">
        <button class="mybtn pull-right thumbs thumb-down valign" {{action 'thumbsDown' answer}}><i class="small material-icons">thumb_down</i></button>
        <button class="mybtn pull-right thumbs thumb-up valign" {{action 'thumbsUp' answer}}><i class="small material-icons">thumb_up</i></button>
      </div>
    </div>
</div>
