  <a class='btn dropdown-button' data-activates='dropdown'><i class="material-icons">more_vert</i></a>
  <ul id='dropdown' class='dropdown-content'>
    <li{{action 'delete' answer}}>Delete <i class="material-icons">delete</i></li>
  </ul>
<div class="answerBox clearfix z-depth-1 hoverable">
  <div class="dropdown">


  </div>
    <h3>{{answer.name}}</h3>
    <p class="timestamp">{{answer.timestamp}}</p>
    <p>{{answer.content}}</p>
    <div class="row">
      <div class="col s6 clear">
        <h4 class="category left">{{answer.score}}
        {{#if (gt answer.score 14)}}
          <span class="glyphicon glyphicon-fire left fire"></span>
        {{/if}}
        {{#if (lt answer.score -4)}}
          <span class="glyphicon glyphicon-trash left trash"></span>
        {{/if}}</h4>
      </div>
      <div class="col s6">
        <button class="mybtn right thumbs thumb-down" {{action 'thumbsDown' answer}}><i class="material-icons">thumb_down</i></button>
        <button class="mybtn right thumbs thumb-up" {{action 'thumbsUp' answer}}><i class="material-icons">thumb_up</i></button>
      </div>
    </div>
</div>
