<h2>{{question.name}}</h2>
<p class="timestamp">{{question.timestamp}}</p>
<hr>
<h4>{{question.content}}</h4>
<ul>
  <p>{{question.details}}</p>
</ul>
<hr>
{{#if (eq sortedAnswers.length 0)}}
  <h3 class="center text-muted">No Answers</h3>
{{/if}}
{{#if addNewAnswer}}
  {{new-answer saveAnswer="saveAnswer" question=question}}
{{/if}}
{{#if question.answers}}
<h3>Answers</h3>
  {{#each sortedAnswers as |answer|}}
    {{answer-detail answer=answer destroyAnswer="destroyAnswer" thumbsSave="thumbsSave"}}
  {{/each}}
{{/if}}
<div class="btn-group">
  <a class="waves-effect waves-light btn-large red darken-1 hoverable"{{action 'delete' question}}>Delete</a>
  <a class="waves-effect waves-light btn-large blue darken-2 hoverable"{{action 'answerFormShow'}}>New Answer</a>
</div>
