{{#if updateQuestionForm}}
  <h4>Update {{question.name}}'s Question</h4>
    <div>
      <form>
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          {{input autofocus="true" value=name id="name" type="text"}}
          <label for="name">Name</label>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">live_help</i>
          {{input value=content id="content" type="text"}}
          <label for="content">Question</label>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">comment</i>
          {{textarea value=details id="details" class="materialize-textarea"}}
          <label for="details">Details</label>
        </div>

        <a class="waves-effect waves-light btn-large blue hoverable" {{action 'update' question}}>Save</a>
      </form>
    </div>
{{else}}
    <a{{action 'updateQuestionForm'}} class="waves-effect waves-light btn-large orange darken-1 hoverable">Update</a>
{{/if}}
